.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;

}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1,.cat2,.cat3{
    border-radius: 10px;
    padding: 10px 30px;
}
.cat1{
    background-image: linear-gradient(to left, rgb(247, 245, 136) 0%, rgb(255, 165, 0) 100%);
    
}
.cat2{
    background-image: linear-gradient(to left, rgb(247, 169, 222) 0%, rgb(252, 77, 173) 100%);
    
}
.cat3{
    background-image: linear-gradient(to left, rgb(220, 193, 248) 0%, rgb(194, 93, 248) 100%);
    
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}